<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
           
            {{>header}}
           
            
        </div>
       
       <aside class="about-aside">
                <h3 class="about-h3">What is Web Design</h3>
                    <p class="about-p">
                        Web design exists for the purpose of websites displayed on the internet. 
                        A web designer works on the appearance, layout, and in some cases, content of a website. 
                        Appearance engages the viewers’ attention, such as, colors being used, fonts, and images. 
                        Layout showcases the content in a structured and organized manner for the users to easily 
                        understand the content. Most websites prefer simplicity so it won’t appear as confusing or 
                        distracting. Web designing includes many different areas like web graphic design, user interface 
                        design, authoring, and including standardized code.

                    </p>

                <h3 class="about-h3">Languages</h3>
                <p class="about-p">
                    Web designing requires numerous techniques in order to assure the best work possible. These techniques 
                    are called ‘languages.’ Different languages contribute to different areas and functions of web designing, 
                    even if they are similar to one another. The languages used for web designing are called ‘frontend languages’ 
                    and include HTML, CSS, and JavaScript. ‘Backend languages’ are for programming and scripting. Some backend 
                    languages are Ruby, Python, and Perl. However, we won’t be focusing on backend languages, but more on frontend languages. 

                </p>


                <h3 class="about-h3">Resources to build a website</h3>
                <p class="about-p">
                    Building a website requires front end languages

                </p>

                <h3 class="about-h3">Why web designing for a job</h3>
                <p class="about-p">
                    Web design is a job that’s always in need for. According to Statista, in 2019, 
                    the number of software developers in the world grew up to 23.9 million and it’s 
                    predicted to reach 28.7 million by 2024. As web design continue to be 
                    in high demand, here are some of the reasons why you should consider learning in an early stage:
                </p>

               

                  

                <p class="about-p3">
                    <span class="span-1"> Job Security:</span> It’s hard to picture a situation where we would no longer need web designers’ 
                    services and the need for designers will always increase.
                </p>
                 

                    
                <p class="about-p3">
                   <span class="span-1"> Huge Earnings:</span> Web designers’ average wage is around $40,000 a year. The more experience you have in different
                   languages, the more you’ll make.
                </p>

                   
                
              

               

                <p class="about-p3">
                     <span class="span-1">Work Flexibility:</span> Although web designing is an office job, you can work from home as well, 
                     since the job really only requires a computer and web design softwares. However, projects 
                     may include meeting with clients and collaborating with web developers, so you would still 
                     be required to show up to those meetings.

                </p>

                <p class="about-p3">
                     <span class="span-1">Huge Earnings:</span> Web designers’ average wage is around $40,000 a year. 
                </p>

                <p class="about-p3">
                     <span class="span-1">Creativeness:</span> If you enjoy showing your creative aesthetic sense 
                     and using technology, this would be a perfect job for you. Projects 
                     usually require something new so you can always explore different 
                     artistic areas.
                </p>
               
       </aside>
     
    
       
    </body>
</html>