<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>Document</title>
    </head>
    <body>
            <div class="main-content">
                {{>header}}
            </div>

            <aside class="about-aside">
                    <h3 class="about-h3">CSS</h3>
                    <p class="about-p">
                       Cascading Style Sheets (CSS) is a language that concentrates on 
                       the designing of web pages. It does seem similar to HTML since 
                       it also does give style to a webpage, however, HTML’s purpose is
                       to give structure and content of a webpage, not designing or styling
                       how a web page should look. It can also look messy and disorganized 
                       when you try to add many styling elements in HTML. CSS can design web
                       pages by changing the colors, fonts, size, alignment, and many more.
                       It also takes less work than HTML since CSS can standardize the style 
                       across an entire site. 
                    </p>

                    <p class="about-p">

                        <h2> p 	&#x007B; <br> &emsp; font-size: 12px; <br>
                            &emsp; color: black; <br>
                          &#x7D;</h2>
                        <h3>CSS Selector</h3>
                  
                        <p class="css-p">
                                  The CSS selector defines which HTML elements a rule will apply to. 
                        </p>

                        <h3 class ="css-h3">Curly Brackets</h3>
                        <p class="css-p">
                            These curly braces mark the beginning of and end of the CSS coding 
                        that specifies the style of the CSS selector. 

                        </p>
                        

                        <h3 class ="css-h3" > CSS Declarations</h3>
                        <p class="css-p">
                        Each declaration includes a CSS property and these declarations are 
                        what defines the style for this selector. In the style attribute, 
                        there is the property and the value. The property indicates which
                        feature we are styling. The value tells us how we are styling them. 

                        </p>
                        
                    </p>

                   
                        <h3 class ="css-h3" >Useful CSS Properties</h3>
                        <p class="css-p">
                        Color: sets the text color of the selected HTML element<br>
                        Background-color: background color in the selected HTMl element<br>
                        Font-size: size of the font (ex: 75px or 18px)<br>
                        Font-family: changes the font of the text (ex: Georgia or Courier)
                        Font-weight: thickness of the font

                        </p>
                      
                    
        </aside>
        
    </body>
</html>