<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>Document</title>
    </head>
    <body>
        <div class="main-content">
                {{>header}}
        </div>

        <aside class="about-aside">
                    <h3 class="about-h3">HTML</h3>
                    <p class="about-p">
                        Hypertext Markup Language (HTML) focuses on the structure of a webpage and its content. 
                        It allows the user to create and structure sections, paragraphs, headings, links, and 
                        blockquotes. HTML allows you to embedded images, creating tables, and styling.
                    </p>

                    <p>
                        &#60;!DOCTYPE&#62; <br>
                        &emsp; &#60;html&#62; <br>
                        &emsp; &emsp; &#60;head&#62; <br>
                        &emsp;  &emsp; &emsp; &#60;title&#62;
                        Page Title
                          &#60;/title &#62;<br>
                        &emsp; &emsp; &#60;/head&#62; <br><br>
                        &emsp; &emsp; &#60;body&#62; <br>

                        &emsp; &emsp; &emsp; &#60;p&#62;My first paragraph.&#60;/p&#62; <br>
                        &emsp; &emsp; &emsp; &#60;h1&#62; My first heading.&#60;/h1&#62; <br>
                        &emsp; &emsp; &#60;/body&#62; <br>
                        &emsp; &#60;/html&#62; <br>
                    
                    </p>
                






                    

                    
                    <h3 class="html-h3"> &#60;!DOCTYPE&#62; Tag </h3>
                    <p class="html-p">
                              The !DOCTYPE tag stands for Document Type Declaration. It informs the web browser about 
                        the version and type of the HTML we are using. The !DOCTYPE tag is the first line and 
                        is necessary in every HTML or XHTML. There is no closing for this tag.

                    </p>
                      

                    <h3 class="html-h3">HTML Tag</h3>
                    <p class="html-p">
                               The HTML tag defines the whole HTML document. The end tag is /html.
                    </p>
                     

                    <h3 class="html-h3">Body Tag</h3>
                    <p class="html-p">
                            The body tag is always in between the HTML tag. The body tag's element defines the 
                        man content of the document and contains various subjects, such as, headings, paragraphs
                        images, tables, lists and more. This tag ends with /body.
                    </p>
                    

                    <h3 class="html-h3">HTML Headings</h3>
                    <p class="html-p">
                             HTML headings are known as &#60;h1&#62; to &#60;h6&#62; tags and are embedded inside the body tag. &#60;h1&#62; is the 
                        largest-sized heading while h6 is the smallest. h1 is usually considered as the most important 
                        tag while &#60;h6&#62; is the least.
                    </p>
                       

                    <h3 class="html-h3">HTML Paragraphs</h3>
                    <p class="html-p">
                        The p tag defines a paragraph. It has an end tab of /p.
                        A Break Tag, known as the br tag, is used to position a line break in text. It marks the division 
                        between one paragraph and the next in a body in a body of text. However, it does not have an end
                        tag. Both are also inside the body tag.
                    </p>
             
                        
                    
                    

        </aside>

     

        <table>
            <tr>
                <th>Names</th>
                <th>City</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
            
            <tr>
                    <td>John</td>
                    <td>Dallas</td>
                    <td>John123@gmail.com</td>
                    <td>(832)-621-7339</td>
            </tr>
            
            <tr>
                <td>Sally</td>
                <td>Los Angeles</td>
                <td>SallyHoustan2@gmail.com</td>
                <td>(753)-820-7352</td>
            </tr>

            <tr>
                <td>Chris</td>
                <td>Paris</td>
                <td>Chris98@gmail.com</td>
                <td>(821)-823-9345</td>
            </tr>

            <tr>
                <td>Jeff</td>
                <td>San Diego</td>
                <td>jeff@gmail.com</td>
                <td>(833)-823-9345</td>
            </tr>

            <tr>
                <td>Jeff</td>
                <td>San Diego</td>
                <td>jeff@gmail.com</td>
                <td>(833)-823-9345</td>
            </tr>

              <tr>
                <td>Jeff</td>
                <td>San Diego</td>
                <td>jeff@gmail.com</td>
                <td>(833)-823-9345</td>
            </tr>


        </table>
        
    </body>
</html>